CurrentGameState {
	position: absolute;
	background-color: rgba( black, 0.5 );
	left: 100px;
	bottom: 48px;
	font-size: 40px;
	font-weight: bold;
	color: white;
	height: 80px;
	padding: 0 20px;
	align-items: center;
}

Health {
	position: absolute;
	background-color: rgba( black, 0.5 );
	right: 100px;
	bottom: 48px;
	font-size: 40px;
	font-weight: bold;
	color: white;
	height: 80px;
	padding: 0 20px;
	align-items: center;
}

rootpanel {
	background-color: rgba( #333, 0 );
	transition: background-color 0.2s ease-in;

	&.spawnmenuopen {
		transition: background-color 0.3s ease-out;
		background-color: rgba( #333, 0.9 );
	}


	&.devcamera {
		display: none;
	}
}