TimerUI {
    position: absolute;
    background-color: rgba( black, 0.5 );
    right: 100px;
    bottom: 48px;
    font-size: 150px;
    font-weight: bold;
    color: white;
    height: 80px;
    padding: 0 20px;
}
